.discover {
	height: 1080px;
	position: relative;
}

.discover .background {
	background-image: url("../../assets/images/image\ 7.png");
	width: 100%;
	height: 100%;
	z-index: 0;
	position: absolute;
	top: 0;
	right: 0;
}

.discover .background::after {
	background-color: rgba(0, 0, 0, 0.4);
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

.discover .title {
	position: absolute;
	top: 150px;
	left: 50%;
	translate: -50% 0;
	color: #fff;
	font-size: 96px;
	text-align: center;
}

.discover .content {
	width: 1378px;
	display: flex;
	flex-direction: column;
	color: #fff;
	top: 344px;
	translate: -50% 0;
	left: 50%;
	font-size: 36px;
	line-height: 50px;
	gap: 24px;
	position: absolute;
}

.discover .button-discover {
	position: absolute;
	width: 434px;
	height: 140px;
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 40px;
	font-weight: 500;
	border: none;
	background-color: #000;
	justify-content: center;
	top: 824px;
	left: 50%;
	translate: -50% 0;
}
