.products {
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 50px;

}

.products .title {
	font-size: 50px;
	font-weight: 500;
	margin-bottom: 20px;
}

.products .desc {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 52px;
}

.products .productList {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.products .view-all {
	display: flex;
	align-items: center;
	font-size: 36px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.87);
	cursor: pointer;
	margin-bottom: 52px;
}

.view-all .icon {
	scale: 1.5;
	margin-left: 12px;
}
