.header .sale {
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
}

.sale .content {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}

.header .main {
	display: flex;
	height: 120px;
	align-items: center;
	justify-content: space-between;
	padding: 0 60px;
	border: 2px solid black;
}

.logo{
	display: flex;
    align-items: center;
	
}


.logo-img {
	object-fit: cover;
	height: 110px;
}

.header-icons{
	display: flex;
	justify-content: center;
}


.search-bar {
	display: flex;
    width: 100%;
<<<<<<< HEAD
	height: 40px;
=======
	height: 50px;
>>>>>>> 90c1dab3d8c2219b437da08484757856fa73c9e0
	justify-content: center;
}

.search-icon{
<<<<<<< HEAD
	background-color: #000;
	border-radius: 2px;
=======
	fill: rgb(255, 255, 255);
	width: 26px;
	height: 26px;
	
>>>>>>> 90c1dab3d8c2219b437da08484757856fa73c9e0
}

.search-bar > svg{
	padding: 2px;
<<<<<<< HEAD
	height: 40px;
	width: 35px;
	fill: #fff;
=======
    fill: #fff;
}

.search-bar a{
	height: 50px;
    width: 40px;

    background: black;
    align-items: center;
    display: flex;
	justify-content: center;
	border-radius: 0 40px 40px 0;
>>>>>>> 90c1dab3d8c2219b437da08484757856fa73c9e0
}

input{
	width: 680px;
	padding: 6px;
<<<<<<< HEAD
	border: 1px solid #000;
=======
	font-size: 20px;
	border-radius: 40px 0 0 40px;
>>>>>>> 90c1dab3d8c2219b437da08484757856fa73c9e0
}
