.new-product {
	display: flex;
	/* justify-content: space-around; */
	/* flex-direction: row; */
	/* flex-wrap: wrap; */
}

 .product-item {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}


.product-item .product-img .image{
	width: 100%;
	height: 100%;
}

 .product-item .product-content {
	z-index: 1;
	color: #fff;
	font-size: 30px;
	position: absolute;
	font-weight: 500;
	width: 200px;
	bottom: 120px;
	left: 30px;
}

.product-item .arrow {
	z-index: 1;
	position: absolute;
	bottom:40px;
	left: 10px;
}
.product-item .arrow img{
	width: 50px;
	
}

