.products .product-item {
	height: 100%;
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin: 20px 20px;

}

.product-item .newTag {
	background-color: #fff;
	text-transform: uppercase;
	width: 50px;
	height: 26px;
	text-align: center;
	line-height: 24px;
	position: absolute;
	left: -12px;
	top: 40px;
	rotate: -90deg;
	/* border: 1px solid grey; */
}

.product-item .heart {
	position: absolute;
	right: 10px;
	top: 10px;
}
.product-item .heart img {
width: 24px;
}
.product-item .product-type {
	font-size: 24px;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.5);
	margin-bottom: 10px;
}

.product-item .product-name {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 10px;
}

.product-item .product-price {
	font-size: 24px;
	color: rgba(0, 0, 0, 0.65);
	font-weight: 500;
	margin-bottom: 40px;
}
/* .product-item .product-item-img {
	width: 200px;
} */
