.slider {
	/* height: 1000px; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 40px 0px;
}

.slider .slider-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.slider .slider-item::before {
	content: "";
	height: 4px;
	width: 80px;
	position: absolute;
	top: 0;
	background-color: rgba(0, 0, 0, 0.65);
	left: 50%;
	translate: -50% 0;
}

.slider .slider-item::after {
	content: "";
	height: 4px;
	width: 80px;
	background-color: rgba(0, 0, 0, 0.65);
	position: absolute;
	bottom: 0;
	left: 50%;
	translate: -50% 0;
}

.slider .slider-item .name {
	margin-top: 40px;
	margin-bottom: 30px;
	font-size: 46px;
	font-weight: 500;
}
.slider .slider-item .img {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px
}

.slider .next,
.slider .back {
	cursor: pointer;

}
.slider .next img,
.slider .back img{
	width: 100px;
}

.slider .slider-item .desc {
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 40px;
}
